$primary-color: #0088cc; 
$onhover-primary-color: #0281c0;
$secondary-color: #3a3a3a; 
$background-color: #2a2a2a;
$text-color: #2c2c2c;
$dark-text-color: #ffffff; 
$border-color: #e3e3e3; 
$border-radius: 4px; 
$transition-duration: 0.3s; 